
@{
    ViewBag.Title = "EmptyMusic";
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}

<h2>there is no uploaded music yet !</h2>
<br />
@Html.ActionLink("Back !", "start", "Content", null, null)
@Html.ActionLink("Add Music?", "start","Content", null, null)


