@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<div class="jumbotron">
    <h1>Musical Portal</h1>
 
    <p class="lead">Musical portal will  help  contents provider to upload their musical contents .</p>
 
</div>


